{% extends 'base.html' %}

{% block content %}

<main>
    {% load staticfiles %}

    <div class="container">
        <div class="row py-lg-4 mx-auto">
            <div class="col-md">
                <div class="row">
                    {% for blog in content.all %}
                    <div class='col-md-4'>
                        <div class="card" set style="padding: 10px; margin-bottom: 20px;">
                            <div class="card shadow-sm h-100 bg-dark">
                                <a href="{% url 'writingsdetail' blog.id %}" class="text-decoration-none">
                                    <div class="card-body text-white">
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text fw-bolder text-start" style="font-family:Georgia, 'Times New Roman', Times, serif">
                                                {{ blog.title|truncatechars:30 }}</p>
                                        </div><br/>
                                        <img class="card-img-top" width="500" height="200" src="{{blog.image.url}}" /><br/><br/>
                                        <p class="card-text fst-normal" style="font-family:Georgia, 'Times New Roman', Times, serif;">
                                            <i>{{ blog.writing_text|truncatechars:30 }}</i></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> 
            </div>
        </div>
    </div>
</main>
<br /><br />
{% endblock %}