/*
flip card
*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }


  /*
img-rotate
*/
.rotate90 {  
  transform: rotate(180deg);
}  

/*
bg image and R&R
*/
.image-stack{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
.img-top{
  position:relative;
  z-index:1;
}
.img-bottom{
  position:relative;
  top: -80px;
  z-index:2;
  transition: transform .2s;
}
.img-bottom1{
  position:relative;
  top: -80px;
  z-index:2;
  transition: transform .2s;
}
.img-bottom2{
  position:relative;
  top: -80px;
  z-index:2;
  transition: transform .2s;
}

/* hover */
.img-bottom:hover{
  transform: scale(2);
  z-index: 3;
}
.img-bottom1:hover{
  transform: scale(2);
  z-index: 3;
}
.img-bottom2:hover{
  transform: scale(2);
  z-index: 3;
}

/*
poem/blog-font
*/
.ws{
  font-family: Georgia, 'Times New Roman', Times, serif;
  word-spacing: 2px;
  line-height: 28px;
}

