{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container user-select-none">
        <div class="card shadow-sm" style="background-color:snow;">
        <div class="row" style="margin: 20px 0px 20px 20px">
            <div class="col-md-7">
                <h1 class="text-start pt-3" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: bold;">
                    {{ detaildict.title }}</h1><br/>
                <img class="img-fluid rounded shadow-sm" src="{{ detaildict.image.url }}" style="height:500px; width: 500px;" />
            </div>
            <div class="col-md-5 ws" style="margin-top: 20px;">
                <a href="javascript:{document.getElementById('like_poem').submit()}" class="d-flex justify-content-end" style="margin-right: 20px;">
                    <button class="btn btn-primary">
                    👍🏻 Like {{ detaildict.like_poem }}</button></a>
                    <br/>
                <p><i>{{ detaildict.poem_text|linebreaks }}</i></p>
            </div>
        </div></div>
    </div>
</main>
<br /><br />

<form id="like_poem" method="POST" action="{% url 'like_func' detaildict.id %}">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endblock %}

