{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container user-select-none">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-start pt-3">{{ detaildict.title }}</h1><br/>
                <img class="img-fluid" src="{{ detaildict.image.url }}" height=500 width=500 />
            </div>
            <div class="col-md-5" set style="margin-top: 60px;">
                <p>{{ detaildict.poem_text|linebreaks }}</p>
            </div>
            <br />
            <br />
        </div>
    </div>
</main>

{% endblock %}