{% extends 'base.html' %}

{% block content %}

<main>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'mypersonalblog/style.css' %}">
  <section class="py-4 text-center container">
    <div class="row py-lg-2">
      <div class="mx-auto ">
        <h1 style="font-size:50px;"><b><i>Welcome to Srishti's World</i></b></h1>
        <br />

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'silentdrafter.png' %}" class="d-block w-100" set style="height: 600px;" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Srishtipic.png' %}" class="d-block w-100" set style="height: 600px;" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static 'Thankyou.png' %}" class="d-block w-100" set style="height: 600px;" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


        <!-- <p class="lead text-muted">♥️ "The diary of a placid girl" ♥️</p> -->
        <!-- <img src="{% static 'silentdrafter.png' %}" class="center" width=800 height=450/>
        <img src="{% static 'Srishtipic.png' %}" class="center" width=800 height=450/>
        <img src="{% static 'Thankyou.png' %}" class="center" width=800 height=450/> -->
        <!-- <p>
          <a href="mailto:srishtiagrwl0502@gmail.com" class="btn btn-primary my-2">Email Me</a>
        </p> -->
        <br />
        <br />
        <br />
        <br />
        <div class="album py-4 bg-light">
          <div class="container">
            <hr />
            <h1 class="text-center"><b>Poems</b></h1>
            <hr />
            <h6 class="text-muted text-center">Are you an avid Poem lover?</h6>
            <p class="text-muted text-center"><i>▼ Check out my poems ▼</i></p>
            <br />
            <br />
            <div class="d-flex justify-content-center">
              <div class="col">
                <a href="{% url 'englishpoem' %}">
                  <img src="{% static 'english.png' %}" class="img-fluid rounded shadow-sm" alt="Responsive image" set
                    style="height: 280px; padding: 10px" />
                </a>
              </div>
              <div class="col">
                <a href="{% url 'hindipoem' %}">
                  <img src="{% static 'hindi.png' %}" class="img-fluid rounded shadow-sm" alt="Responsive image" set
                    style="height: 280px; padding: 10px" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <div class="container">
          <div class="row  d-flex justify-content-between">
            <div class="col-6">
              <img src="{% static 'blogimg.png' %}" class="img-fluid rounded shadow-sm" alt="Responsive image" set
                style="height: 360px;" />
            </div>
            <div class="col-6" style="padding: 10px;">
              <h1 class="text col-6"><b>Blogs</b></h1>
              <br /><br />
              <p>
                  Hello Reader !!! There are times when I feel extremely excited, I sit down 
                  and jot down my happiness. At times, I feel low, I feel my writings my closest friend. 
                  Writing is my passion. To read my blogs, 
                  <a href="{% url 'writings' %}">click here</a>.
              </p>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <hr/>
          <div class="container row d-flex justify-content-between">
            <div class="col-6" style="padding: 10px;">
              <h1 class="col-6"><b>Publications</b></h1>
              <br/><br/>
              <p>To publish is to make content available to the general public. It's a feeling of accomplishment and a thirst 
                for more when your writings are getting published. I got published in some of the top publishers of the
                country, especially for the upcoming budding writers. </p><p>
                No writer gets satisfaction from his/her writings
                unless people appreciate his/her work. It's always about the readers who praise and support a writer and 
                make his/her writings reach to the wider public. </p>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-sm-6" set style="padding: 10px;">
                  <div class="card card-flip h-100">
                    <div class="card-front bg-dark">
                      <div class="card-body">
                        <img src="{% static 'auctoresapr20.png' %}" set style="height: 250px; width: 250px;" 
                        class="img-fluid rounded shadow-sm" alt="Responsive image"/>
                      </div>
                    </div>
                    <div class="card-back bg-light">
                      <div class="card-body">
                        <h3 class="card-title"><b><i>the_auctores</i></b></h3><br/>
                        <p class="card-text" set style="font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif;">
                          the_auctores is a collection of some selected poems in English and Hindi, some verses and sonnets.
                          It's a work of a group of people who came together and made this e-book possible.</p>
                        <p class="card-text" set style="font-size: 14px; font-family: Georgia, 'Times New Roman', Times, serif;">
                          <b>Got published in the April-2020 e-book by the_auctores.</b></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" set style="padding: 10px;">
                  <div class="card card-flip h-100">
                    <div class="card-front bg-dark">
                      <div class="card-body">
                        <img src="{% static 'storymirrorjun20.png' %}" set style="height: 250px; width: 250px;" 
                        class="img-fluid rounded shadow-sm" alt="Responsive image"/>
                      </div>
                    </div>
                    <div class="card-back bg-light">
                      <div class="card-body">
                        <h3 class="card-title"><b><i>StoryMirror</i></b></h3><br/>
                        <p class="card-text" set style="font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif;">
                          StoryMirror is the creative library - A platform that offers an opportunity to use one's 
                          creative thoughts and ideas to influence millions in multiple languages.
                        </p>
                        <p class="card-text" set style="font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif;">
                          <b>Got published in the Top-23 Hindi Poem Writers in Yes, I Write-2 competition organized
                            by StoryMirror at the National Cooporate Level.</b>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" set style="padding: 10px;">
                  <div class="card card-flip h-100">
                    <div class="card-front bg-dark">
                      <div class="card-body">
                        <img src="{% static 'arambhsept20.png' %}" set style="height: 250px; width: 250px;" 
                        class="img-fluid rounded shadow-sm" alt="Responsive image"/>
                      </div>
                    </div>
                    <div class="card-back bg-light">
                      <div class="card-body">
                        <h3 class="card-title"><b><i>Arambh</i></b></h3><br/>
                        <p class="card-text" set style="font-size: 12px; font-family: Georgia, 'Times New Roman', Times, serif;">
                          Arambh was the National Writing Exhibition organised by the_2am.thoughts, an organisation
                        registered under the Ministry of MSME.</p>
                        <p class="card-text" set style="font-size: 14px; font-family: Georgia, 'Times New Roman', Times, serif;">
                          <b>Got published in the September e-book by the_2am.thoughts.</b></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" set style="padding: 10px;">
                  <div class="card h-100">
                    <div class="card-front bg-dark">
                      <div class="card-body">
                        <img src="{% static 'Upcoming.png' %}" set style="height: 250px; width: 250px;" 
                        class="img-fluid rounded shadow-sm" alt="Responsive image"/>
                      </div>
                    </div>
                    <!-- <div class="card-back bg-light">
                      <div class="card-body">
                        <h3 class="card-title">Back</h3>
                        <p class="card-text">Suprise this one has more more more more content on the back!</p>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        <hr/>
        <br />
        <br />
        <br />
        <div class="container row d-flex justify-content-between image-stack">
          <!-- <div class="col-4">
            <img src="{% static 'rewards.png' %}" class="img-fluid" alt="Responsive image" set style="height: 100px;" />
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-sm-6" set style="padding: 10px;">

              </div>

            </div>
          </div> -->

          <div id="award_item bg-image">
            <img src="{% static 'rewards.png' %}" set style="height: 300px;"/>
          </div>
          


        </div>








      </div>
    </div>
  </section>

</main>

{% endblock %}


<!-- <div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for blog in blogs.all %}
      <div class="col-md-4">
        <div class="card shadow-sm h-100 bg-dark">
          <a href="{% url 'blogdetail' blog.id %}" class="text-decoration-none">
          <div class="card-body text-white">
              <div class="d-flex justify-content-between">
              <p class="card-text fw-bolder text-start">{{ blog.title }}</p></div>
              <img class="card-img-top" width="500" height="200" src="{{blog.image.url}}" />
              <br />
              <br />
              <p class="card-text fst-normal">{{ blog.summary }}...</p>
          </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div> -->